* { margin: 0; padding: 0; }

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  text-align: center;
}

main .card-body {
    margin-top: 20px;
    text-align: center;
}

form {
    display: inline-block;
    vertical-align: middle;
}
