* { margin: 0; padding: 0; }
/*.navbar-nav {
    color: #cbd5db;
}

.navbar-nav {
  color: #ffffff;
}

.navbar-nav {
  font-weight: 500;
}*/

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  text-align: center;
}

main .card-body {
    /*float: right;*/
    margin-top: 20px;
    text-align: center;
    /*width: 90%;*/
}

form {
/*    margin-left: 10%;
    width: 500px;
    margin-top: 10px;*/
    display: inline-block;
    vertical-align: middle;
}


.list {
  display: block;
  width: 4%;
  height: 40px;
  background: white;
  position: fixed;
  right: 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.list > a::before {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  content: '\2B07';
  color: black;
  text-decoration: none !important;
}

.list > a:not(:last-child) {
  margin-right: 5px;
}

.list > a:hover {
  color: red;
}

.item {
  display: block;
  width: 100%;
  height: 100vh;
  right: 1;
  line-height: 100vh;
  text-align: center;
  font-size: 100px;
}