* { margin: 0; padding: 0; }
/*.navbar-nav {
    color: #cbd5db;
}

.navbar-nav {
  color: #ffffff;
}

.navbar-nav {
  font-weight: 500;
}*/

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  text-align: center;
}

main .card-body {
    /*float: right;*/
    margin-top: 20px;
    text-align: center;
    /*width: 90%;*/
}

form {
/*    margin-left: 10%;
    width: 500px;
    margin-top: 10px;*/
    display: inline-block;
    vertical-align: middle;
}
