{% extends "main/base.html" %}
{% block content %}
<div class="card-body">
    <h4>Список постов</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Название поста</th>
                <th scope="col">Адрес</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.name }}</td>
                <td>{{ post.address }}</td>
                <td><a type="button" class="btn btn-warning" href="update/{{ post.id }}">Обновить</a>
                    <a type="button" class="btn btn-danger" href="delete/{{ post.id }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="create">Добавить</a>
</div>
{% endblock %}