{% extends "main/base.html" %}
{% block content %}
    <div class="card-body">
        <h4>Список учетов</h4>
        <form class="form-inline my-2 my-lg-0" action="{% url 'accounting_list' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Серийник рации</th>
                <th scope="col">Организации</th>
                <th scope="col">Арендодатель</th>
                <th scope="col">Пост</th>
                <th scope="col">Состояние АКБ</th>
                <th scope="col">Состоит на учёте</th>
                <th scope="col">Документ подтверждающий приём на себя рацию</th>
                <th scope="col">Дата</th>
                <th scope="col">Комментарий</th>
            </tr>
            </thead>
            <tbody>
            {% for accounting in accounts %}
                <tr>
                    <td>{{ accounting.id }}</td>
                    <td>{{ accounting.id_walkie_talkie }}</td>
                    <td>{{ accounting.id_organization }}</td>
                    <td>{{ accounting.id_resposible }}</td>
                    <td>{{ accounting.id_post }}</td>
                    <td>{{ accounting.id_state }}</td>
                    <td>{{ accounting.relevance }}</td>
                    <td>{{ accounting.document }}</td>
                    <td>{{ accounting.date }}</td>
                    <td>{{ accounting.comments }}</td>
                    <td><a type="button" class="btn btn-warning" href="update/{{ accounting.id }}">Обновить</a>
                        <a type="button" class="btn btn-danger" href="delete/{{ accounting.id }}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a type="button" class="btn btn-success" href="create">Добавить</a>
    </div>
{% endblock %}